.heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px;
  font-size: 1.7rem;
  color: #f00;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.sale-tag {
  position: absolute;
  background-color: #222222;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px 10px;
  top: 15px;
  left: 20px;
  font-size: 15px;
  cursor: pointer;
  z-index: 2;
}
